html {
  overflow: hidden;
}
body {
  margin: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(163.63deg, #501FC1 12.2%, #C346D5 96.78%);
  background-size: cover;
  height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
}

code {
  font-family: "Open Sans", sans-serif;
}
